body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #fff;
  --color-bg-primary: #f2f2f2;
  --color-bg-toggle: #fff;
}

body[data-theme="dark"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #fff;
  --color-bg-primary: #3a3a3a;
  --color-bg-toggle: #1f1d1d;
}

#__next{
  height: 100%;
  width: 100%;
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh !important;
  background-color: #f2f2f2;
}

body.dark_row {
  background-color: #1f1d1d !important;

  .header {
    background-color: red !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}